@media (max-width: 1219px) {
  .hero-heading {
    font-size: 4.2rem;
  }
}
/* No Issues till 1300px  */

@media (max-width: 1011px) {
  .hero-heading {
    font-size: 3.8rem;
  }
}
@media (max-width: 932px) {
  /* Hero section  */
  .hero-heading {
    font-size: 3.4rem;
  }
  .hero-container {
    max-width: 86.4rem;
    margin: 0;
  }
 
  /* about us  */
  .section-cta{
  padding: 0;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
  }











}
@media (max-width: 888px) {
  .hero-heading {
    font-size: 3.2rem;
  }
  .hero-container {
    max-width: 83.4rem;
    margin: 0;
  }
}
@media (max-width: 859px) {
  .hero-heading {
    font-size: 4.2rem;
    text-align: center;
  }
  .hero-container {
    max-width: 77.4rem;
    margin: 0;
  }
}
@media (max-width: 815px) {
  .hero-heading {
    font-size: 4.2rem;
    text-align: center;
  }
  .hero-container {
    margin: 0 2rem;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero-text{
    text-align: center;
  }
}
