*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik" , sans-serif;
    /* width: 1400px; */
    margin: 50px auto;
}

/* Navigation  */

nav {
    color: #333;
}
.nav-bar{
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
a:first-child {
    text-decoration: none;
    background-color: rgba(73, 67, 49, 0.395);
    padding: 10px;
    border-radius: 9px;
}

/* hero section  */

.herosection{
  background-color: #fdf2e9;
  padding: 48px 0 96px 0;
    
}
.hero-container{
  max-width: 1300px;
    margin: 0 auto;
    padding: 0 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
}

.imagehero{
    width: 100%;
}
.hero-heading{
    font-size: 52px;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 32px;
}
.hero-description{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 48px;
}