* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 500;
  color: #333;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
/* SCROLLBAR  */

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #e67e22;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  /* border-radius: 2px; */
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  /* border-radius: 2px; */
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* GRIDS  */

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* margin-bottom: 9.6rem; */
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--center-v {
  align-items: center;
}

/* Navigation  */

.header {
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 2.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  gap: 3.2rem;
  transition: all 0.3s;
}
.main-nav-link {
  text-decoration: none;
  padding: 1rem;
  color: #333;
}
/* .main-nav-link:hover{
    color: #333;
    background-color: white;
    border-radius: 9px;
    transition: all 0.3s ease-in-out;
} */
 
.logo {
  height: 2.4rem;
}

/* ********************************* */

ul li a {
  /* text-transform: uppercase; */
  color: #333;
  position: relative;
}
ul li a::before {
  content: "";
  width: 0px;
  height: 5px;
  background: #e67e22;
  position: absolute;
  top: 100%;
  left: 0;
  transition: 0.5s;
}
ul li:hover a::before {
  width: 50%;
  transform: translateX(100%);
}
/* ********************************* */

/* hero section  */

.herosection {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero-container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.imagehero {
  width: 100%;
}
.hero-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}
.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.btn,
.btn:link,
.btn:visited {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transition: all 0.3s;

  border: none;
  cursor: pointer;
  /* transition: background-color 0.3s; */
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #ef711f;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; */
  box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* Featured in section */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #999;
}
.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.logos img:hover {
  filter: none;
  opacity: revert;
}

/* Testimonials */

.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.gallery-item {
  overflow: hidden;
}
/* .product-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    padding: 1.6rem;
  } */
.product-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 0.5fr 0.5fr; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 1.2rem; */
  overflow: hidden;
}
.product-gallery-item img {
  border-radius: 9px;
  width: 60%;
  transition: all 0.4s;
  grid-column: 1;
}
.product-gallery-item img:hover {
  transform: scale(1.1);
}
.product-gallery-item {
  overflow: hidden;
}
.color-options {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

.prod-colors {
  padding: 1rem;
  border: 1px solid black;
}

/* PRODUCT COLORS  */
.color-red {
  background-color: red;
}
.color-pink {
  background-color: pink;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-blue {
  background-color: blue;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.subheading-secondary {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

/* //PRICING  */

.section-pricing {
  padding: 9.6rem 0;
}
.pricing-plan {
  background-color: #fdf2e9;
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}
.pricing-plan--starter {
  justify-self: end;
  background-color: #fff;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  top: 6%;
  right: -18%;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  color: #333;
  transform: rotate(45deg);
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
.feature-title {
  font-size: 2.1rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature-text {
  font-size: 1.6rem;
  line-height: 1.8;
}

/* CTA Section  */

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
.section-cta {
  padding: 4.8rem 0 12.8rem 0;
}

.cta-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../Testimonial-Images/Person5.jpg);
  background-size: cover;
  background-position: center;
}
.about-image-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url(../Testimonial-Images/Nesavaruvi-About.jpg);
  background-size: cover;
  background-position: center;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.cta .heading-secondary {
  color: #45260a;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.cta-form input::placeholder {
  color: #aaa;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

/* PRODUCTS  */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 1.8rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
/* .box-text{
      text-align: center;
      font-size: 1.2rem;
      font-weight: 400;
      margin-bottom: 20px;
    } */
.center-text {
  text-align: center;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

/* PRODUCTS PAGE  */

.all-products {
  padding: 2.8rem 0;
}

.products-section {
  background-color: white;
  min-height: 90vh;
  position: absolute;
  width: 100vw;
  z-index: 5;
}
.products-description {
  padding: 5% 15%;
  color: #4b4b4b;
}
.products-description h2 {
  font-size: 2rem;
}
.products-description p {
  font-size: 1.2rem;
  padding: 1rem 0rem;
}
.products-gallery {
  background-color: #fdf2e9;

  /* display: grid; */
  padding: 0% 15%;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  gap: 1rem;
}
.products-gallery,
.products-img {
  border-radius: 9px;
  width: 100%;
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.prices h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 10px;
}
.cards {
  padding: 10px;
  cursor: pointer;
}
.cards h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.cards p {
  font-size: 1.2rem;
}
.cards a {
  text-decoration: none;
  color: #333;
}
.para-products {
  display: inline-block;
}

.products-cart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.shoppings-bag {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.all-products {
  background-color: #fdf2e9;
  max-width: 100vw;
  max-height: 100vh;
}

.plan-sing-up {
  text-align: center;
  margin-top: 4.8rem;
}

.product-description {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
  grid-column: 2/-1;
  
}
.product-description li {
  list-style: none;
  /* padding: 1rem; */
  /* border: 1px solid; */
  cursor: pointer;
}
.select-colors {
  display: flex;
  gap: 1rem;
  /* justify-content: center; */
  align-items: center;
}

.all-products .heading-secondary {
  margin-bottom: 5.2rem;
}

.selecting-colors{
  width: 50px;
  height: 50px;
}
.product-select-colors{
  display: flex;
  align-items: center;
  justify-content: center;
}